@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Yrsa:wght@600&display=swap');

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Yrsa', serif;
    color: #ffffff;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.562);
    flex-direction: column;
}
img{
    height: 100%;
    margin: 0;
    filter: saturate(800%);
}

.img{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    margin: auto;
}

.temperature{
    width: 500px;
    height: 100px;
    font-size: 50px;
    display: flex;
    align-items: center;
}

.place{
    margin-top: 40px;
    font-family: 'Yrsa', serif;
    font-size: 1.5rem;
}

.humidity,.type,.speed{
    padding: 3px;
}

.speed{
    margin-bottom: 40px;
}

.container{
    width: 100vw;
    height: 100vh;
    background-image: url('image/night.jpg');
    margin: 0;
    padding: 0;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.6;
    position: relative;
}

.weather-container{
    position: absolute;
    width: 450px;
    height: 450px;
    background-color: #000000da;
    display: block;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: unset;
    border-radius: 10px; 
    text-align: center; 
    flex-direction: column;
}

.body{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.time{
    position: absolute;
    left: 10px;
    top: 10px;
    font-size: 1.1rem;
    letter-spacing: 2px;
    font-weight: bold;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.input-address{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

#input{
    outline: none;
    background-color: white;
    border: none;
    padding: 20px;
    border-radius: 30px;
    font-family: 'Yrsa', serif;
    font-size: 1.15rem;
    height: 42.5px;
    margin-right: 10px;
}

.search{
    background-color: white;
    padding: 15px;
    border-radius: 30px;
    font-size: 1.1rem;
    color: black;
    cursor: pointer;
    height: 42.5px;
  
}

.search:hover{
    background-color: #bbbbbb;
}

.temp{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
}


@media screen and (max-width:500px) {
    .weather-container{
        width: 300px;
        height: 350px;
    }
    .header{
        margin-top: 20px;
    }
    .time{
        font-size: 0.9rem;
    }
    .heading{
        font-size: 1.3rem;
    }

    .img{
        width: 80px;
        height: 80px;
    }
    .temperature{
        width: 300px;
        height: 80px;
        font-size: 30px;
    }

    #input{ 
        padding: 10px;
        border-radius: 15px;
        font-family: 'Yrsa', serif;
        font-size: 0.9rem;
        height: 35px;
        margin-right: 10px;
    }
    
    .search{
        padding: 10px;
        border-radius: 50%;
        font-size: 0.9rem;
        height: 35px;   
    }
    
}